{% if page.googleReview%}
    {% assign googleReview=site.data.[page.googleReview] %}
    <section class="hero {% if googleReview.height %} {{ googleReview.height }} {% else %} is-medium {% endif %} {{ googleReview.style }}">
        <div style="background-color:white" class="hero-body">
            <div class="container">
               <script src="https://static.elfsight.com/platform/platform.js"></script>
                <div class="elfsight-app-8c9274b6-c91c-432d-b861-ae87c74cf904" data-elfsight-app-lazy></div>
                <div style="padding-top: 72px;">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15947.388884308908!2d102.241683!3d2.2112946!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31d1f1614542615f%3A0xdd4866d7a975e773!2sKlinik%20Kenanga%20%40%20Bachang%2C%20Melaka!5e0!3m2!1sen!2smy!4v1727063626759!5m2!1sen!2smy" width="100%" height="650" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </section>
{% endif %}
