{% if page.listServices %}
    {% assign listServices=site.data.[page.listServices] %}
    <section class="hero {% if listServices.height %} {{ listServices.height }} {% else %} is-medium {% endif %} {{ listServices.style }}">
        <div class="hero-body">
            <div class="container">
                <div class="columns is-multiline is-centered">

                    {% if page.listServicesTitle %}
                        <div class="column is-12 has-text-centered">
                            <h2 class="title is-3">{{ page.listServicesTitle }}</h2>
                        </div>
                    {% endif %}
                    {% for callout in listServices.items %}
                        <div class="column is-4 has-text-centered">
                            {% if callout.icon %}
                                <div class="icon callout-icon">
                                    {% if callout.icon %}
                                        <img src = "/assets/images/panel/{{ callout.icon }}.webp" alt="{{ callout.title }}">
                                    {% endif %}
                                </div>
                            {% endif %}

                            {% if callout.description %}
                                <div class="my-4">
                                    <div class="content">
                                        <p>{{ callout.description | newline_to_br }}</p>
                                    </div>
                                </div>
                            {% endif %}

                            {% if callout.call_to_action_name %}
                                <div class="my-4">
                                    <a
                                        href="{{ callout.call_to_action_link | relative_url }}"
                                        class="button is-primary"
                                    >
                                        {{ callout.call_to_action_name }}
                                    </a>
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endif %}
