--- 
---
$primary: #ffffff; // Darker blue from the logo
$link: #433E32;
$info: #072f5f;

a.button{
    color:#ffffff;
}

.wa-button{
background-color: #25d366;
}


// Import Main CSS file from theme
@import "main";
