--- 
---
$primary: #ffffff; // Darker blue from the logo
$link: #433E32;
$info: #072f5f;

a.button{
    color:#ffffff;
}

a.button.wa-button{
background-color: #25d366;

}

a > span {
padding-left: 15px;
padding-right: 15px;
}


// Import Main CSS file from theme
@import "main";
